<template name="hipaaLogSubmit">

  <form class="log form">
    <input type="text" name="eventType" id="eventType" placeholder="Event type">
    <input type="text" name="userId" id="userId" placeholder="User ID">
    <input type="text" name="userName" id="userName" placeholder="User Name">
    <input type="text" name="collectionName" id="collectionName" placeholder="collection name">
    <input type="text" name="recordId" id="recordId" placeholder="Record id">
    <input type="text" name="messageId" id="messageId" placeholder="Message">
    <input type="text" name="patientId" id="patientId" placeholder="Patient ID">
    <input type="submit" value="Submit" class="btn btn-primary"/>
  </form>
</template>